<div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= asset_path('banner.jpg')%>');">
  <h1>Edit Gnome Details</h1>
</div>

<%= simple_form_for(@gnome) do |f|%>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :image_path %>
  <%= f.submit "Submit Gnome", class: "btn-green btn-green-gnome-card" %>
<% end %>
