  <h1>We have a great selection of gnomes.</h1>

  <div class="grid_container">
    <% @gnomes.each do |gnome| %>
        <div class="card">
          <% if gnome.image_path.present? %>
            <%= image_tag(gnome.image_path, class: "card-img-top") %>
          <% else %>
            <%= image_tag("logo.png", class: "card-img-top") %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= gnome.name %></h5>
            <p class="card-text"><%= gnome.description %></p>
            <h5 class="card-title">£ <%= gnome.price %></h5>
            <div class="d-flex justify-content-end mt-3">
              <%= link_to 'Book Me', gnome_path(gnome), class: "btn-green-gnome-card btn-green"%>
            </div>
          </div>
        </div>
    <% end %>
  </div>
