
<div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= asset_path('banner.jpg')%>');">
  <h1>Meet the Team</h1>
</div>
<div class="founders-card">
  <div>
    <%= image_tag("founder01.jpeg", class: "founders-card-img") %>
  </div>
  <div>
    <h2>Claudia Kwok</h2>
    <h3>Software Engineer</h3>
    <h4>UK</h4>
    <p>Some interesting setences about me</p>
  </div>
</div>

<div class="founders-card">
  <div>
    <%= image_tag("founder02.jpeg", class: "founders-card-img") %>
  </div>
  <div>
    <h2>Damien Baubriau</h2>
    <h3>Software Engineer</h3>
    <h4>UK</h4>
    <p>Some interesting sentences about me</p>
  </div>
</div>

<div class="founders-card">
  <div>
    <%= image_tag("founder03.jpeg", class: "founders-card-img") %>
  </div>
  <div>
    <h2>Szymon Niedorezo</h2>
    <h3>Software Engineer</h3>
    <h4>UK</h4>
    <p>Some interesting sentences about me</p>
  </div>
</div>

<div class="founders-card">
  <div>
    <%= image_tag("founder04.jpeg", class: "founders-card-img") %>
  </div>
  <div>
    <h2>Joshua Banjo</h2>
    <h3>Software Engineer</h3>
    <h4>UK</h4>
    <p>Some interesting sentences about me</p>
  </div>
</div>
