
<div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= asset_path('banner.jpg')%>');">
  <h1>Meet the Team</h1>
</div>
<div class="profile_container">
  <div class="founders-card">
    <div>
      <%= image_tag("founder01.jpeg", class: "founders-card-img") %>
    </div>
    <div>
      <h2>Claudia Kwok</h2>
      <h3>Software Engineer</h3>
      <h4>UK</h4>
      <p>Aspiring to drive product development through people-centered AI solutions that deliver meaningful, positive impact.</p>
    </div>
  </div>

  <div class="founders-card">
    <div>
      <%= image_tag("founder02.jpeg", class: "founders-card-img") %>
    </div>
    <div>
      <h2>Damien Baubriau</h2>
      <h3>Software Engineer</h3>
      <h4>UK</h4>
      <p>Transitioning to Full-Stack Development, I leverage my sales experience, technical skills, and problem-solving mindset to grow as a software developer while applying my customer-focused approach to web development.</p>
    </div>
  </div>

  <div class="founders-card">
    <div>
      <%= image_tag("founder03.jpeg", class: "founders-card-img") %>
    </div>
    <div>
      <h2>Szymon Niedorezo</h2>
      <h3>Software Engineer</h3>
      <h4>UK</h4>
      <p>Hello I'm Simon. Aspiring web developer based in Cornwall.</p>
    </div>
  </div>

  <div class="founders-card">
    <div>
      <%= image_tag("founder04.jpeg", class: "founders-card-img") %>
    </div>
    <div>
      <h2>Joshua Banjo</h2>
      <h3>Software Engineer</h3>
      <h4>UK</h4>
      <p>Backend Engineer with a product focus and passion for building robust, scalable APIs in high growth start ups.</p>
    </div>
  </div>
</div>
