<div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= asset_path('banner.jpg')%>');">
  <h1>My Gnome Bookings</h1>
</div>

<div class="grid_container">

    <% if @bookings.length > 0 %>
      <% @bookings.each do |booking| %>
        <div class="card">
        <%= image_tag(booking.gnome.image_path, class: "card-img-top") %>
          <div class="card-body">
            <li><%= booking.gnome.name %></li>
            <li><%= booking.gnome.description %></li>
            <li>£<%= booking.gnome.price %></li>
            <li><%= booking.booking_date %></li>
            <li>You can reach the owner of the Gnome here: <%= booking.gnome.user.email %></li>
            <div class="d-flex justify-content-end mt-3"><%= link_to "Cancel your booking", gnome_booking_path(booking.gnome, booking), class: "btn-green-gnome-card btn-green mt-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <li>You don't have any bookings yet - go and grab a Gnome XD</li>
    <% end %>

</div>
