<h1>Your Private Garden of Gnomes </h1>

  <div class="grid_container">
    <% @gnomes.each do |gnome| %>
        <div class="card">
          <% if gnome.image_path.present? %>
            <%= image_tag(gnome.image_path, class: "card-img-top") %>
          <% else %>
            <%= image_tag("logo.png", class: "card-img-top") %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= gnome.name %></h5>
            <p class="card-text"><%= gnome.description %></p>
            <h5 class="card-title">£ <%= gnome.price %></h5>
            <div class="d-flex justify-content-between mt-3">
              <%= link_to 'Check me', gnome_path(gnome), class: "btn-green-gnome-card btn-green" %>
              <%= link_to 'Edit', edit_gnome_path(gnome), class: "btn-green-gnome-card btn-green" %>
              <%= link_to 'Delete', gnome_path(gnome), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-green btn-red-gnome-card" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
