<!DOCTYPE html>
<html>
  <head>
    <title>GnomeGarden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="icon" href="<%= asset_path('favicon-32x32.png') %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= asset_path('favicon-32x32.png') %>" type="image/x-icon">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
